body {
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
}

.body {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 10px 0 0 0;
    flex-direction: column;
}

//61.8% + 38.2%

.todo-list {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 10px;
    width: 61.8%;
}

.form {
    position: relative;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.expanded-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.spin-once {
    animation: rotate180 0.3s linear;
}

@keyframes rotate180 {
    from {
        transform: rotate(0deg);
    }to {
        transform: rotate(180deg);
    }
}