mat-card-actions {
    margin-left: auto;
    margin-right: 8px;
}

.card-title {
    font-size: 20px;
    font-weight: 500a;
}

mat-card-title {
    border-bottom: 1px solid var(--mat-sys-outline);
}

mat-card-content {
    margin-top: 3px;
}