.task-body {
    width: 100%;
    overflow: scroll;
    background-color: var(--quartinary);
    border-radius: 15px;
    border: 1px solid var(--secondary); 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 0 4px 0;
}

.task-name {
    padding: 0;
    margin: 0 0 0 8px;
    color: var(--tertiary);
}

.checkbox {
    margin: 0 8px 0 0;
    padding: 0;
}

:host ::ng-deep .mat-mdc-checkbox .mdc-checkbox__background {
    border-color: var(--secondary) !important;
    border-width: 2px !important;
    border-radius: 5px !important;
}

.remove {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    //color: black;
    color: var(--secondary);
}

.remove:hover {
    color: red;
    box-shadow: 2px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px 0 0;
}